body {
    background: #b0bec5;
}
.img1{
    width: 30px
}




.dws-menu * {



    margin: 0;
    padding: 0;
}

.dws-menu ul {

    list-style: none;
}

.dws-menu > ul {

    display: flex;
    justify-content: center;
}

.dws-menu > ul li {
    position: relative;
    border-right: 1px solid #c7c8ca;
}

.dws-menu > ul li:first-child {
    border-left: 1px solid #b2b3b5;
}

.dws-menu > ul li:last-child {
    border-right: 1px solid #babbbd;
}

.dws-menu > ul li > a i.fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;

}

.dws-menu > ul li a {
    display: block;

    background: rgb(201, 201, 201);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9c9c9', endColorstr='#757577', GradientType=0);
    /* IE6-9 */

    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.dws-menu li a:hover {

    background: rgb(224, 225, 229);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(224, 225, 229, 1) 0%, rgba(69, 69, 71, 1) 2%, rgba(69, 69, 71, 1) 98%, rgba(224, 225, 229, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(224, 225, 229, 1) 0%, rgba(69, 69, 71, 1) 2%, rgba(69, 69, 71, 1) 98%, rgba(224, 225, 229, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(224, 225, 229, 1) 0%, rgba(69, 69, 71, 1) 2%, rgba(69, 69, 71, 1) 98%, rgba(224, 225, 229, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e1e5', endColorstr='#e0e1e5', GradientType=0);
    /* IE6-9 */

    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

/*sub menu*/
.dws-menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}

.dws-menu li > ul li {
    border: 1px solid #c7c8ca;
}

.dws-menu li > ul li a {
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
}

.dws-menu li > ul li ul {
    position: absolute;
    right: -150px;
    top: 0;
}

.dws-menu li:hover > ul {
    display: block;
}




h1 {
    text-align-last: center;

}

h1:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}



.im {
    font-size: 2em;
    text-align-last: center;
    text-decoration: none;

}


.but1 {
    text-align: center;

}

.but {
    font-size: 40px;
    background: transparent;
    color: #2d2d2d;
    border: 1px solid black;
    outline: none;
    font-family: "segoe ui light";
    transition: all 2s ease;
}

.but:hover {
    background: #fff;
    font-size: 60px;
    -webkit-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



.side {



    width: 200px;
    margin: 20px;
}

.menu a {
    background: #3d3d3d;
    color: #fff;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #666;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

.menu a:hover {
    background: #666;
    padding: 10px 0 10px 20px;
}

.menu li:first-child a,
.menu li .menu__drop li:first-child a {
    border-radius: 3px 3px 0 0;
}

.menu li:last-child a,
.menu li .menu__drop li:last-child a {
    border-radius: 0 0 3px 3px;
    border-bottom: 0;
}

.menu li .menu__drop li a {
    border-radius: 0;
    border-bottom: 1px solid #666;
}



.menu__list {
    position: relative;
}

.menu__drop {
    position: absolute;
    width: 100%;
    left: 100%;
    top: -9999em;
    opacity: 0;
    border-left: 10px solid transparent;
    -webkit-transition: 0.5s opacity;
    transition: 0.5s opacity;
}

.menu__list:hover .menu__drop {
    opacity: 1;
    top: 0;
}


.menu__list::after {
    content: " ";
    position: absolute;
    border: 5px solid;
    border-color: transparent transparent transparent #eee;
    top: 1em;
    right: 0.7em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.menu__list:hover::after {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.side {
    position: absolute;
    bottom: 30;

}

img {
    background: transparent;
    transition: all 2s ease;


    width: 500px;

}

img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.min {
    background-position: 0px, 300px;
    text-align-last: center;
}
