/*
#bg-test{  
    background: url(../images/logo1.png) center / contain no-repeat;
    background: url position /size/
    border:1px solid red;
    height: 600px; 
    width: 800px;
    background-color:aqua; 
    background-image:url(../images/logo2.png),url(../images/logo1.png);
    background-repeat: no-repeat,repeat;
    background-size:100px 100px, 200px 200px;
    background-position:center center, left bottom;
}*/
/*
div {
    width:  32px;
    height: 32px;
    border: 1px solid red;
}

#icon1 {
    background: url(../images/sprite.png) -115px -75px / 820px 572px no-repeat;
    
    border: 1px solid red;
    height: 600px;
    background: url(../images/logo1.png) right /200px 200px no-repeat , url(../images/logo2.png) left bottom / 100px 100px no-repeat,#795548;
    

}

#icon2 {
    background: url(../images/sprite.png)  -150px -75px / 820px 572px no-repeat;
}
*/
#btn {
    background: transparent;
    color: #2d2d2d;
    font-size: 20px;
    border: 1px solid gray;
    font-family: "segoe ui light";
    transition: all 0.7s ease 1s;
    width: 400px;
    outline: none;

}

#btn:hover {
    background: #2d2d2d;
    color: #fff;
    width: 500px;
  
}
#l-btn{
    width: 201px;
    height: 71px;
        
    background: url(../images/button.png) 0 0 / 201px 215px no-repeat;
    
}
#l-btn:hover{
    background-position: 0 -71px;    
}
#l-btn:active{
    background-position: 0 -143px;
}
